# Data Types and Structures Questions

1. What are data structures, and why are they important?
    - In Python, data structures like lists, dictionaries, sets, and tuples help organize data. They make coding easier and faster by storing, sorting, and accessing information efficiently. Use them to solve problems and manage data effectively.

2. Explain the difference between mutable and immutable data types with examples?
    - Mutable data types can change after creation, like lists ([1, 2] -> [1, 3]). Immutable data types cannot change, like tuples ((1, 2) stays the same). Example: lists are mutable, strings and tuples are immutable.

3. What are the main differences between lists and tuples in Python?
    - Lists are mutable and use `[ ]`, like `[1, 2, 3]`. Tuples are immutable and use `( )`, like `(1, 2, 3)`. Lists are slower but flexible; tuples are faster and fixed.

4. Describe how dictionaries store data?
    - Dictionaries in Python store data as key-value pairs inside `{ }`.Each key is unique, and it links to a value. Example: `{"name": "Alice", "age": 25}`.Keys help quickly find and access their values.

5. Why might you use a set instead of a list in Python?
    - Use a set instead of a list when you need unique items and don't care about order.Sets automatically remove duplicates and are faster for checking membership.Example: `{1, 2, 3}` ensures no repeated numbers.

6. What is a string in Python, and how is it different from a list?
    - A string in Python is a sequence of characters, like "hello". Unlike lists, strings are immutable (cannot change), and elements are always characters. Lists, like [1, 2, 3], are mutable and can store different data types.

7. How do tuples ensure data integrity in Python?
    - Tuples ensure data integrity by being immutable once created, their values cannot change. This prevents accidental modifications, making them reliable for storing constant data. Example:`(1, 2, 3)`stays fixed, ensuring data remains safe and unchanged.

8. What is a hash table, and how does it relate to dictionaries in Python?
    - A hash table is a data structure that stores data using a key-value pair. In Python, dictionaries use hash tables to efficiently store and retrieve values based on unique keys, providing fast lookups, insertions, and deletions.

9. Can lists contain different data types in Python?
    - Yes, in Python, lists can contain different data types. A list can have numbers, strings, and other objects all in one list. This flexibility makes lists very useful for storing varied kinds of data together.

10. Explain why strings are immutable in Python?
    - Strings are immutable in Python because once created, their content cannot be changed. Any change creates a new string. This helps ensure that strings remain consistent and prevents errors that could happen if strings were accidentally altered during use.
    
11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries are faster than lists for finding data using keys.They store data as key-value pairs, like {"name": "Alice"}.Use dictionaries when you need quick lookups or to organize data with meaningful labels.

12. Describe a scenario where using a tuple would be preferable over a list?
    - Use a tuple when storing constant data that shouldn’t change,like coordinates (10, 20) or days of the week. Tuples are faster and protect data from accidental changes, making them ideal for fixed, unchangeable information.

13. How do sets handle duplicate values in Python?
    - Sets in Python automatically remove duplicate values.When you add items to a set, only unique elements are kept. For example,{1, 2, 2, 3} becomes {1, 2, 3}.This ensures all elements are distinct.

14. How does the “in” keyword work differently for lists and dictionaries?
    - In lists, the `in` keyword checks if a value exists, like 3 in [1, 2, 3]. In dictionaries, it checks for keys, not values, like 'name' in {'name': 'Alice'}.

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, you cannot modify tuple elements because tuples are immutable. Once created, their values stay fixed. This design ensures data integrity, making tuples ideal for storing constant information that should not be accidentally changed.

16. What is a nested dictionary,and give an example of its use case?
    - A nested dictionary is a dictionary inside another dictionary.It organizes complex data. Example: {"student1": {"name": "Alice", "age": 20}, "student2": {"name": "Bob", "age": 22}} can store details for multiple students neatly.

17. Describe the time complexity of accessing elements in a dictionary?
    - Accessing elements in a dictionary is very fast, with O(1) average time complexity. This means it takes the same time, no matter the size, because Python uses hashing to quickly locate keys and their values.

18. In what situations are lists preferred over dictionaries?
    - Lists are better when you only need ordered data, like [1, 2, 3], and don’t need labels. Use them for simple tasks like looping through numbers or storing items without key-value pairs, as in dictionaries.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries are considered unordered because they store data based on hashing, not position. This means items aren’t stored in a fixed order. However, data retrieval is fast and doesn’t depend on order—keys directly locate their values.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
    - In a list, data is retrieved by index (e.g., `my_list[0]`).In a dictionary, data is retrieved by key (e.g., `my_dict["name"]`).Lists use positions, while dictionaries use unique keys for faster access.

# Practical Questions

1. Write a code to create a string with your name and print it?

In [ ]:
name = "janmayjay singh bisht"
print(name)
type(name)

janmayjay singh bisht

str

2. Write a code to find the length of the string "Hello World"?

In [21]:
a = "Hello World"
lenth = len(a)
print(lenth)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [23]:
text =  "Python Programming"
text[0:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase?

In [25]:
a="hello"
a.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [26]:
s="I like apple"
s.replace("apple","orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it?

In [27]:
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [29]:
list2= [1, 2, 3, 4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [31]:
list3= [1, 2, 3, 4, 5]
list3.pop(2)
print(list3)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [32]:
list4=['a', 'b', 'c', 'd']
list4[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50]?

In [39]:
list5=[10, 20, 30, 40, 50]
list5[::-1]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it?

In [43]:
box=(10,20,30)
print(box)
type(box)

(10, 20, 30)

tuple

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')?

In [44]:
box1=('apple', 'banana', 'cherry')
box1[0]

'apple'

13.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)?

In [45]:
box2=(1, 2, 3, 2, 4, 2)
box2.count(2)

3

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [47]:
box3=('dog', 'cat', 'rabbit')
box3.index("cat")

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')?

In [48]:
box5=('apple', 'orange', 'banana')
print("banana" in box5)

True

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [50]:
set1={1, 2, 3, 4, 5}
print(set1)

{1, 2, 3, 4, 5}

17.  Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [52]:
set2= {1, 2, 3, 4}
set2.add(6)
print(set2)

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [53]:
tup1=(10,20,30)
print(tup1)

(10, 20, 30)

19.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [54]:
tup2=('apple', 'banana', 'cherry')
tup2[0]

'apple'

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [55]:
box2=(1, 2, 3, 2, 4, 2)
box2.count(2)

3

21.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [56]:
box3=('dog', 'cat', 'rabbit')
box3.index("cat")

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [57]:
box5=('apple', 'orange', 'banana')
print("banana" in box5)

True

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [58]:
set1={1, 2, 3, 4, 5}
print(set1)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [59]:
set2= {1, 2, 3, 4}
set2.add(6)
print(set2)

{1, 2, 3, 4, 6}